.hashtag {
  list-style: none;
  padding-left: 0;
  text-align: center;
  color: white;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    > li:nth-child(n+5) {
      display: none;
    }
  }

  @include media-breakpoint-between(sm, md) {
    > li:nth-child(n+7) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
    > li:nth-child(n+9) {
      display: none;
    }
  }
}

.hashtag__link {
  display: block;
  position: relative;
  height: 0;
  padding-top: calc(100% + 80px);
  background: white;
}

.hashtag__bg {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 70px;
  left: 10px;
  background-color: white;
  background-position: center center;
  background-size: cover;
  filter: brightness(110%) saturate(120%) sepia(0%) hue-rotate(350deg);
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: screen;
    opacity: 0.3;
    background: rgba(204, 68, 0, 1);
  }
}

.hashtag__copy {
  position: absolute;
  bottom: 12px;
  right: 10px;
  left: 10px;
  text-align: center;
  color: black;
}

.hashtag__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.hashtag__date {
  font-size: 14px;
}
