.product {
  text-align: center;
}

.product__container {
  padding-top: 20px;
  // padding-bottom: 20px;
  color: white;

  @include media-breakpoint-up(xs) {
    padding-top: 32px;
    // padding-bottom: 32px;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.product__image {
  margin-bottom: 24px;

  position: relative;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center center;

  noscript & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.product__header {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

.product__title {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 10px;

  @include media-breakpoint-up(sm) {
    font-size: 48px;
  }

  @include media-breakpoint-up(md) {
    font-size: 56px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 86px;
    margin-bottom: 20px;
  }
}

.product__subtitle {
  font-size: 24px;
}

.product__style {

}

.product__descriptors {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  list-style: none;
  margin: 0 0 24px 0;
  padding: 16px;
  > li {
    flex: 1;
    justify-content: center;
  }
}

.product__descriptors__definition,
.product__descriptors__attribute {
  line-height: 1;
  margin: 0 2px;
  padding: 0;
  font-weight: bold;
}

.product__descriptors__attribute {

}

.product__descriptors__definition {

}

.product__ingredients {
  text-align: left;
  padding: 0;
}

.product__ingredients__subtitle {
  font-size: 1rem;
  display: inline;
  font-weight: normal;
  &:after {
    content: ':';
  }
}

.products__ingredients__list {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: capitalize;
  > li {
    display: inline;
    margin: 0;
    padding: 0;
    &:after {
      content: ',';
    }
    &:last-child {
      &:after {
        content: '.';
      }
    }
  }
}
