.reviews {

  padding-bottom: 20px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 30px;
  }

  .card-deck {
    display: block;
    .card {
      margin-left: 0;
      margin-right: 0;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row wrap;

      .card {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;

        // Selectively apply horizontal margins to cards to avoid doing the
        // negative margin dance like our grid. This differs from the grid
        // due to the use of margins as gutters instead of padding.
        &:not(:first-child) { margin-left: $card-deck-margin; }
        &:not(:last-child) { margin-right: $card-deck-margin; }
      }
    }

    > .card:nth-child(n+3) {
      margin-right: 0;
    }

    > .card:nth-child(n+4) {
      display: none;
    }
  }

}

  // @include media-breakpoint-up(md) {
  //   .card-deck {
  //     display: flex;
  //     flex-flow: row wrap;

  //     .card {
  //       display: flex;
  //       flex: 1 0 0;
  //       flex-direction: column;

  //       // Selectively apply horizontal margins to cards to avoid doing the
  //       // negative margin dance like our grid. This differs from the grid
  //       // due to the use of margins as gutters instead of padding.
  //       &:not(:first-child) { margin-left: $card-deck-margin; }
  //       &:not(:last-child) { margin-right: $card-deck-margin; }
  //     }
  //   }
  // }

//   .card-deck
//   .card-deck > .card:nth-child(n+4) {
//     display: none;
//   }
// }
