.section-title--dark {
  background: black;
  color: white;
}

.section-title--light {
  color: black;
  background: white;
}

.section-title__title {
  font-size: 16px;
  padding: 36px 0;
  font-weight: 400;
  font-family: $font-primary;

  @include media-breakpoint-up(md) {
    font-size: 24px;
    padding: 40px 0;
  }
}
