.section {
  padding-bottom: 20px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 48px;
  }
}

.section__header {
  padding: 32px;

  @include media-breakpoint-up(sm) {
    padding: 64px 0;
  }
  .section--light & {
    color: #222;
  }
  .section--dark & {
    color: white;
  }
}

.section__title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 10px;

  @include media-breakpoint-up(xs) {
    font-size: 32px;
  }

  @include media-breakpoint-up(sm) {
    font-size: 46px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}

.section__subtitle {
  font-size: 14px;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

//modifiers

.section--alpha {
  background: #ebebeb url(../images/backgrounds/weird-pattern.png);
}

.section--beta {
  background-color: #212121;
  // this pattern was huge -- fuck it
  // @include img-retina(
  //   '../images/backgrounds/cartographer.png',
  //   '../images/backgrounds/cartographer@2x.png',
  //   500px,
  //   499px
  // )
}

.section--gamma {
  background-color: #212121;
  @include img-retina(
    '../images/backgrounds/dark-wall.png',
    '../images/backgrounds/dark-wall@2x.png',
    300px,
    300px
  )
}

.section--delta {
  background-color: #040404;
  @include img-retina(
    '../images/backgrounds/binding-dark.png',
    '../images/backgrounds/binding-dark@2x.png',
    180px,
    180px
  )
}

.section--epsilon {
  background-color: #ebebeb;
  @include img-retina(
    '../images/backgrounds/brickwall.png',
    '../images/backgrounds/brickwall@2x.png',
    110px,
    110px
  )
}

.section--b-0 {
  padding-bottom: 0;
}
