extends ../layouts/default

block content

  include ../mixins/_footer
  include ../mixins/_product
  include ../mixins/_product-reviews

  +product(locals.currentBeer)
  +product-reviews(locals.currentBeer)
  +footer(locals.nav)
