extends ../layouts/default

block content

  include ../mixins/_beer-map
  include ../mixins/_hashtag
  include ../mixins/_the-end
  include ../mixins/_footer

  +beer-map(locals.beerMap)
  //- +hashtag(locals.hashtag)
  //- +the-end(locals.theEnd)
  +footer(locals.nav)
