extends ../layouts/default

block content

  include ../mixins/_hero
  include ../mixins/_gallery
  include ../mixins/_find

  +hero(locals.home.hero)
  +gallery(locals.home.brewery)
  +find(locals.home.find)
