extends ../layouts/default

block content

  include ../mixins/_hero
  include ../mixins/_gallery
  include ../mixins/_hashtag
  include ../mixins/_footer

  +hero(locals.home.hero)
  +gallery(locals.home.brewery)
  +hashtag(locals.hashtag)
  +footer(locals.nav)
