extends ../layouts/default

block content

  include ../mixins/_products
  include ../mixins/_hashtag
  include ../mixins/_footer
  include ../mixins/_thank-you

  +thank-you(locals.contact)
  +footer(locals.nav)
