<div class="hotspot">
  <div class="hotspot__content">

    <% if(typeof(title) !== "undefined") { %>
      <h1 class="hotspot__title"><%= title %></h1>
    <% } %>

    <% if(typeof(copy) !== "undefined") { %>
      <p class="hotspot__copy"><%= copy %></p>
    <% } %>

    <% if(typeof(cta) !== "undefined") { %>
      <a href="#" class="btn btn-md btn-warning js-hotspot-navigate hotspot__cta" data-id="<%= cta.id %>"><%= cta.copy %></a>
    <% } %>
  </div>
  <a href="#" class="hotspot__close js-hotspot-close">+</a>
</div>
