<div class="card-deck">
  <% var comments = 0; %>
  <% data.response.beer.checkins.items.forEach(function(item){ %>

    <% if(item.checkin_comment && item.rating_score > 3.5) { %>
      <% comments = comments + 1; %>
      <div class="card card-inverse" style="background-color: <%= bg %>; border-color: <%= bg %>;">
        <div class="card-block">
          <% if (item.rating_score >= 1) { %>
            <h1 class="card-title"><%= item.rating_score %> / 5</h1>
          <% } else { %>
            <h1 class="card-title"><%= locals.reviews.noRating %></h1>
          <% } %>
          <p class="card-text">
            <em><%=item.checkin_comment %></em>
          </p>
        </div>
        <div class="card-footer">
          <a href="https://untappd.com/user/<%= item.user.user_name %>/checkin/<%= item.checkin_id %>" target="_blank">
            <%=item.user.first_name %> <%=item.user.last_name %>
          </a>
        </div>
      </div>
    <% } %>

  <% }) %>
</div>

<% if (comments === 0) { %>
  <div class="card-deck">
    <div class="card card-inverse" style="background-color: <%= bg %>; border-color: <%= bg %>;">
      <div class="card-block">
        <p class="card-text"><%= locals.reviews.noReviews %></p>
      </div>
    </div>
  </div>
<% } else { %>
  <a href="https://untappd.com/b/<%= data.response.beer.beer_slug %>/<%= data.response.beer.bid %>" target="_blank" class="btn btn-lg btn-primary btn-sm-block btn-more btn-uppercase"><%= locals.reviews.cta.copy %></a>
<% } %>
