doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')

    link(rel='stylesheet', href='styles/styles-' + locals.version + (locals.minify ? '.min' : '') + '.css')
    link(type='image/x-icon', rel='shortcut icon', href='images/favicons/favicon.ico')

    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700', rel='stylesheet')

    //- title= locals.pages[locals.page].title

  body(class= 'page-' + locals.page)

    .wrapper

      //- script(type='text/javascript') window.locals = !{JSON.stringify(locals, null, 2)}

      include ../mixins/_header
      include ../mixins/_icon
      include ../mixins/_responsive-img
      include ../mixins/_responsive-background
      include ../mixins/_debug
      include ../mixins/_nav

      input(type='checkbox')#hamburger-trigger.hamburger__trigger
      label(for='hamburger-trigger').hamburger__btn.hidden-md-up
        .hamburger__icon
          span
          span
          span
          span

      +header(locals.header)
      +nav(locals.nav)

      block content

    script.
      //config lazysizes
      window.lazySizesConfig = window.lazySizesConfig || {};
      lazySizesConfig.loadMode = 1;

    +debug()

    script(type='text/javascript', src='scripts/app-' + locals.version + (locals.minify ? '.min' : '') + '.js')
