mixin beer-map(data)
  section.section.section--alpha.section--light.text-center.section--b-0
    .container
      .row
        .col-sm-12
          header.section__header
            h1.section__title= data.title
            p.section__subtitle= data.subtitle

    .js-cities-list
      each item in data.cities
        a.btn.btn-md.js-cities-item.vrview__btn(href='#', class= item.active ? 'btn-warning' : 'btn-primary', data-lat=item.lat, data-lng=item.lng)= item.copy

    .js-beermap.beer-map

    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDjqI3vXRv94I6NegKjbaLLqiFuQz5gjqY')
