mixin debug()
  .debug

    .grid-overlay.grid-overlay--fixed
      .container
        .row
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
          .col-1
            .grid-overlay__bg
