mixin find(data)
  section.section.section--gamma.section--dark.text-center.section--b-0
    .container
      .row
        .col-sm-12
          header.section__header
            h1.section__title= data.title
            p.section__subtitle= data.subtitle

    +responsive-img('map')(class='img--full')
