mixin hashtag(data)
  section.section.section--gamma.section--dark.text-center
    .container
      .row
        .col-sm-12
          header.section__header
            h1.section__title= data.title
            p.section__subtitle= data.subtitle

          ul.row.hashtag.js-hashtag
            .col-12
              .loader__container
                .loader

          ul.social
            each item in locals.social
              li.social__item
                a.social__link(href=item.href, target="_blank")
                  +icon(item.icon)(class='social__icon')
