mixin header(data)

  .header
    .container
      .row.header__wrapper
        .col-sm-12
          a.logo.text-hide(href=data.logo.href)= data.logo.copy

          ul.header__social.social
            each item in locals.social
              li.social__item
                a.social__link(href=item.href)
                  +icon(item.icon)(class='social__icon')
