mixin product-reviews(data)
  section.section.section--alpha.section--light.text-center.section--b-0
    .container
      .row
        .col-sm-12
          header.section__header
            h1.section__title=  data.title + ' ' + locals.reviews.title
            p.section__subtitle= locals.reviews.subtitle

          .js-reviews.reviews('data-untappd-id'= data.untappdId, 'data-bg'=data.bg)
            .loader__container
              .loader.loader--dark
